.arrow-position {
  z-index: 9999999;
  position: fixed;
  right: 10px;
  bottom: 6px;
  color: white;.text-right{
  text-align: right;
}
  .text-center{
    text-align: center;
  }
  .terms-left{
    text-align: left;
  }
  font-size: 30px;
  padding: 20px;
}
